[aspectratio] { position: relative; } [aspectratio]::before { content: ''; display: block; width: 1px; margin-left: -1px; height: 0; } [aspectratio-content] { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; }

.color {
    width: 188px;
    background-color: red;
}
[w-750-100]{
    aspect-ratio: '16:9'
  }
[w-188-246] {
    aspect-ratio: '188:246';
}

.g-hd {
    width: 750px;
    height: 200px;
}

.test {
    border: .5px solid black;
    border-bottom-width: 4px;
    font-size: 14px;
    line-height: 20px;
    position: relative;
}

