@import './wap/index.scss';
html {
	background: #1d0033;
}

html,
body {
	overflow: hidden;
}

body {
	position: absolute;
	top: 0; // bottom: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 750px; // height: 100%;
	margin: 0 auto;
	background: url('../img/icon-bg.png') center center no-repeat #1d0033;
	background-size: cover;
	.g-top {
		font-size: 0;
		text-align: center;
		.img {
			width: 650px;
		}
	}
	.g-bd {
		// position: absolute;
		// bottom: 160px;
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
		overflow: hidden;
		.m-info {
			display: flex;
			justify-content: space-between;
			margin-top: 4px;
			width: 100%;
			padding: 0 60px;
			box-sizing: border-box;
			.m-user {
				flex: 0 0 240px;
				text-align: center;
				.u-avatar {
					font-size: 0;
					.outer-line {
						display: inline-block;
						width: 240px;
						height: 240px;
						border-radius: 50%;
						border: 6px solid #00f5f9;
						text-align: center;
						.avatar {
							margin-top: 4px;
							width: 230px;
							height: 230px;
							border: 4px solid #ff7beb;
							border-radius: 50%;
							box-sizing: border-box;
						}
					}
				}
				.u-name {
					margin-top: 15px;
					font-size: 28px;
					color: #ffffff;
				}
				.u-btn {
					display: inline-block;
					margin-top: 20px;
					width: 225px;
					height: 62px;
					background: url('../img/icon-btn.png') center center no-repeat;
					background-size: cover;
					box-sizing: border-box;
				}
			}
		}
		.m-progress {
			width: 555px;
			height: 90px;
			margin: 0 auto;
			.m-percent {
				width: 100%;
				font-size: 28px;
				color: #fff;
				@include clearfix();
				.u-owner-percent {
					float: left;
				}
				.u-challenge-percent {
					float: right;
				}
			}
			.m-progress-wrap {
				position: relative;
				z-index: 1024;
				width: 100%;
				height: 40px;
				border-radius: 40px;
				background: url('../img/icon-progress.png') center center no-repeat #ccc;
				background-size: 532px 26px;
				overflow: hidden;
				.u-owner,
				.u-challenge {
					position: absolute;
					top: 0;
					height: 100%;
				}
				$owner-color: #00ffff;
				$challenge-color:#ff00f6;
				.u-owner {
					left: 0;
					width: 0;
					background: $owner-color;
				}
				.u-challenge {
					right: 0;
					width: 0;
					background: $challenge-color;
				}
				.icon-percent {
					position: absolute;
					z-index: 10;
					top: 0;
					left: 0;
					width: 555px;
					height: 40px;
					background: url('../img/icon-progress.png') center center no-repeat;
					background-size: 532px 26px;
				}
			}
		}
		.m-refresh {
			width: 555px;
			margin: 42px auto 0;
			color: #ffffff;
			@include clearfix();
			.u-tips {
				float: left;
				font-size: 32px;
			}
			.u-btn {
				float: right;
				padding: 12px 20px 12px 28px;
				outline: none;
				border: 1px solid #00ffff;
				border-radius: 10px;
				font-size: 26px;
				color: #ffffff;
				background: linear-gradient(#6b00c4, #2a004d);
			}
		}
	}
	.g-tips {
		margin-top: 60px;
		text-align: center;
		font-size: 36px;
		color: #ffffff;
		.tick {
			margin-top: 40px;
			font-size: 50px;
		}
	}
	.g-time {
		position: absolute;
		bottom: 50px;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 28px;
		color: #fff;
	}
	.g-line {
		width: 710px;
		height: 10px;
		margin: 20px auto 0;
		background: #46009d;
	}
	.g-ft {
		width: 100%;
		margin-top: 20px;
		padding: 0 20px 40px;
		box-sizing: border-box;
		.m-barrage {
			width: 100%;
			height: 300px; // background: #00f5f9;
		}
		.m-send {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			height: 90px;
			margin-top: 20px;
			@include tp-1px(#bbb);
			.u-ipt {
				flex: 0 0 536px;
				width: 536px;
				height: 60px;
				padding-left: 20px;
				border-radius: 60px;
				border: 1px solid #bbbbbb;
				background: none;
				color: #ddd;
				box-sizing: border-box;
				outline: none;
				-webkit-appearance: none;
			}
			.u-btn {
				flex: 1;
				margin-left: 20px;
				padding: 10px 20px;
				border: 1px solid #00ffff;
				border-radius: 10px;
				font-size: 26px;
				color: #ffffff;
				background: linear-gradient(#6b00c4, #2a004d);
			}
		}
	}
	.g-copyright {
		padding: 10px;
		text-align: center;
		font-size: 24px;
		color: #666;
	}
}