@import './wap/index.scss';
body {
    width: 750px;
    margin: 0 auto;
    .g-hd {
        width: 100%;
        height: 80px;
        background: url('../img/icon-logo.png') center center no-repeat;
        background-size: auto 60px;
    }
    .g-form {
        width: 100%;
        padding: 40px;
        box-sizing: border-box;
        .para {
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
            .order {
                font-size: 28px;
                .red {
                    font-size: 24px;
                    color: #e60811
                }
            }
            .wrap {
                width: 100%;
                margin-top: 30px;
                overflow: hidden;
                .talk_btn {
                    display: inline-block;
                    margin-top: 20px;
                    padding: 18px 20px;
                    color: #fff;
                    border-radius: 8px;
                    background: #44b549;
                    &:active {
                        background: #e60811
                    }
                }
            }
            &:first-child {
                .wrap {
                    .label {
                        color: #e60811;
                    }
                }
            }
        }
    }
    .g-download {
        width: 100%;
        margin-top: 40px;
        text-align: center;
        .down {
            display: inline-block;
            padding: 20px 60px 20px 100px;
            font-size: 28px;
            color: #fff;
            border-radius: 100px;
            background: url('../img/icon-phone.png') left 60px center no-repeat #0081dc;
            background-size: auto 40px;
        }
        .desc {
            margin-top: 20px;
            font-size: 24px;
        }
    }
    .g-ft {
        width: 100%;
        margin-top: 40px;
        padding: 28px 0;
        @include tp-1px(#eee);
        text-align: center;
        font-size: 27px;
        .m-copyright {
            margin-top: 20px;
        }
    }
}