// wap端 css
@media screen and (max-width: 768px) {
  @import './wap/index.scss';
  body {
    width: 750px;
    margin: 0 auto;
    .g-hd {
      position: relative;
      width: 100%;
      height: 80px;
      background: url('../img/icon-logo-wap.png') center center no-repeat;
      background-size: auto 60px;
    }
    .g-banner {
      width: 100%;
      height: 545px;
      background: url('../img/icon-banner-wap.png') center center no-repeat;
      background-size: cover;
    }
    .g-tab {
      width: 100%;
      margin: 0 auto;
      height: 80px;
      line-height: 80px;
      background: linear-gradient(#ff4701, #b91b18);
      .tab-wrap {
        width: 372px;
        margin: auto;
        display: block;
        font-size: 28px;
        font-weight: bold;
        .item {
          // color: #ffaf4e;
          color: #fff;
          cursor: pointer;
          &:first-child {
            float: left;
          }
          &:last-child {
            float: right;
          }
          &.z-curt {
            color: #fede00;
          }
        }
      }
    }
    .g-m {
      margin-top: 20px;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      .title {
        margin-bottom: 20px;
        width: 100%;
        height: 80px;
        background: url('../img/icon-jieshao.png') center center no-repeat;
        background-size: auto 80px;
      }
      .m-bd {
        font-size: 28px;
        line-height: 1.8;
        text-indent: 2em;
        color: #000;
        padding: 20px;
        border: 1px solid #ddd;
        background: #ffede6;
        box-sizing: border-box;
      }
    }
    .g-bd {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      .title {
        width: 100%;
        height: 80px;
        background: url('../img/icon-toupiao.png') center center no-repeat;
        background-size: auto 80px;
      }
      .list-wrap {
        margin-top: 30px;
        width: 100%;
        padding: 20px;
        border: 1px solid #ddd;
        background: #ffede6;
        box-sizing: border-box;
        .tips {
          display: flex;
          width: 544px;
          margin: auto;
          font-size: 26px;
          .key {
            flex: 0 0 90px;
            color: #b91b18;
          }
          .val {}
        }
        .list-wrap-inner {
          margin-top: 20px;
          .list {
            float: left;
            width: 320px;
            margin-left: 25px;
            margin-bottom: 100px;
            &:nth-child(2n+1) {
              margin-left: 0;
            }
            .avatar-wrap {
              width: 320px;
              font-size: 0;
              .avatar {
                width: 320px;
                height: 440px;
              }
            }
            .text-wrap {
              margin-top: 18px;
              font-size: 28px;
              text-align: center;
              .name {
                // height: 132px;
              }
              .ticket-wrap {
                .ticket-num {
                  display: inline-block;
                  padding: 4px 8px;
                  border-radius: 6px; // color: #ffffff; // background: #2481c5;
                }
              }
              .link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 320px;
                height: 80px;
                margin-top: 10px;
                color: #ffffff;
                font-size: 28px;
                .icon,
                .text {
                  width: 150px;
                  height: 56px;
                  line-height: 56px;
                  border-radius: 6px;
                  background: #b40500;
                }
              }
            }
          }
        }
      }
    }
    .g-download {
      width: 100%;
      margin-top: 80px;
      text-align: center;
      .down {
        display: inline-block;
        padding: 20px 60px 20px 100px;
        font-size: 28px;
        color: #fff;
        border-radius: 100px;
        background: url('../img/icon-phone.png') left 60px center no-repeat #0081dc;
        background-size: auto 40px;
      }
      .desc {
        margin-top: 20px;
        font-size: 24px;
      }
    }
    .g-ft {
      width: 100%;
      margin-top: 40px;
      padding: 28px 20px;
      @include tp-1px(#eee);
      text-align: left;
      font-size: 28px;
      box-sizing: border-box;
      .qrcode-wrap {
        display: flex;
        align-items: center;
        .tel {
          font-size: 30px;
          margin-left: 20px;
        }
      }
      .para {
        text-indent: 2em;
      }
    }
    .g-qrcode {
      width: 100%;
      margin-top: 50px;
      .qrcode-wrap {
        width: 100%;
        display: flex;
        font-size: 0;
        justify-content: space-around;
        .qrcode-box {
          width: 220px;
          text-align: center;
          .qrcode {
            width: 200px;
            height: 200px;
          }
          .desc {
            font-size: 20px;
          }
        }
      }
    }
    .g-ft-pc {
      display: none;
    }
  }
}

// pc端 css
@media screen and (min-width: 769px) {
  @import './pc/index.scss';
  body.ignore {
    width: 100%;
    .g-hd {
      width: 100%;
      height: 46px;
      .link {
        display: block;
        width: 1200px;
        height: 46px;
        margin: 0 auto;
        background: url('../img/icon-logo-pc.png') left center no-repeat;
      }
    }
    .g-banner {
      margin: 0 auto;
      max-width: 1920px;
      height: 908px;
      background: url('../img/icon-banner-pc.png') center center no-repeat;
      background-size: cover;
    }
    .g-tab {
      max-width: 1920px;
      margin: 0 auto;
      height: 80px;
      line-height: 80px;
      background: linear-gradient(#ff4701, #b91b18);
      .tab-wrap {
        width: 565px;
        margin: auto;
        display: block;
        font-size: 28px;
        font-weight: bold;
        .item {
          // color: #ffaf4e;
          color: #fff;
          cursor: pointer;
          &:first-child {
            float: left;
          }
          &:last-child {
            float: right;
          }
          &.z-curt {
            color: #fede00;
          }
        }
      }
    }
    .g-m {
      width: 1200px;
      margin: 40px auto 0;
      background: #ffffff;
      box-sizing: border-box;
      .title {
        margin-bottom: 10px;
        width: 100%;
        height: 80px;
        font-size: 18px;
      }
      &.first {
        .title {
          background: url('../img/icon-jieshao.png') center center no-repeat;
          background-size: auto 80px;
        }
        .m-bd {
          margin-top: 40px;
          width: 100%;
          font-size: 29px;
          line-height: 1.8;
          text-indent: 2em;
          color: #000;
          padding: 60px 96px;
          border: 1px solid #ddd;
          background: #ffede6;
          box-sizing: border-box;
        }
      }
    }
    .g-bd {
      width: 1200px;
      margin: 40px auto 0;
      background: #ffffff;
      box-sizing: border-box;
      .title {
        width: 100%;
        height: 80px;
        background: url('../img/icon-toupiao.png') center center no-repeat;
        background-size: auto 80px;
      }
      .list-wrap {
        margin-top: 40px;
        width: 100%;
        border: 1px solid #ddd;
        padding: 80px 41px 0;
        background: #ffede6;
        box-sizing: border-box;
        .tips {
          display: none;
        }
        .list-wrap-inner {
          width: 100%;
          .list {
            float: left;
            width: 190px;
            margin-left: 41px;
            margin-bottom: 80px;
            &:nth-child(5n+1) {
              margin-left: 0;
            }
            .avatar-wrap {
              width: 190px;
              font-size: 0;
              .avatar {
                width: 190px;
                height: 260px;
              }
            }
            .text-wrap {
              margin-top: 12px;
              font-size: 18px;
              text-align: center;
              font-weight: 500;
              .ticket-wrap {
                .ticket-num {
                  display: inline-block;
                  padding: 4px 16px;
                }
              }
              .link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 190px;
                height: 40px;
                margin-top: 10px;
                color: #ffffff;
                font-size: 16px;
                .icon,
                .text {
                  width: 85px;
                  height: 32px;
                  line-height: 32px;
                  border-radius: 6px;
                  background: #b40500;
                }
              }
            }
          }
        }
      }
    }
    .g-download,
    .g-ft {
      display: none;
    }
    .g-qrcode {
      width: 100%;
      margin-top: 50px;
      .qrcode-wrap {
        width: 500px;
        margin: 0 auto;
        font-size: 0;
        .qrcode-box {
          display: inline-block;
          width: 160px;
          &.second {
            margin-left: 180px;
          }
          .qrcode {
            width: 160px;
          }
          .desc {
            margin-top: 8px;
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
    .g-ft-pc {
      width: 928px;
      margin: 80px auto 40px;
      height: 115px;
      text-align: left;
      font-size: 13px;
      color: #000;
      overflow: hidden;
      .qrcode {
        float: left;
      }
      .para {
        line-height: 2;
        &:first-child {
          margin-top: 30px;
        }
        p:first-child {
          text-indent: 2em;
        }
      }
    }
  }
}