// wap端 css
@media screen and (max-width:768px) {
	@import './wap/index.scss';
	body {
		width: 750px;
		margin: 0 auto;
		.g-hd {
			position: relative;
			width: 100%;
			height: 80px;
			background: url('../img/icon-logo-wap.png') center center no-repeat;
			background-size: auto 60px;
		}
		.g-banner {
			width: 100%;
			height: 400px;
			background: url('../img/icon-banner-wap.png') center center no-repeat;
			background-size: cover;
		}
		.g-bd {
			width: 100%;
			padding: 30px;
			box-sizing: border-box;
			.title {
				width: 100%;
				height: 60px;
				line-height: 60px;
				font-size: 32px;
				color: #2481c5;
				border-bottom: 1px solid #2481c5;
			}
			.list-wrap {
				margin-top: 30px;
				width: 100%;
				.list {
					float: left;
					width: 200px;
					margin-left: 45px;
					margin-bottom: 40px;
					&:nth-child(3n+1) {
						margin-left: 0
					}
					.avatar-wrap {
						width: 200px;
						font-size: 0;
						.avatar {
							width: 200px;
							height: 296px;
						}
					}
					.text-wrap {
						margin-top: 12px;
						font-size: 28px;
						text-align: center;
						.link {
							margin-top: 6px;
							display: inline-block;
							padding: 4px 14px;
							border-radius: 6px;
							color: #ffffff;
							background: #2481c5;
							.icon {
								display: inline-block;
								width: 26px;
								height: 21px;
								background: url('../img/icon-toupiao.png') center center no-repeat;
								background-size: cover;
							}
						}
					}
				}
			}
		}
		.g-download {
			width: 100%;
			margin-top: 40px;
			text-align: center;
			.down {
				display: inline-block;
				padding: 20px 60px 20px 100px;
				font-size: 28px;
				color: #fff;
				border-radius: 100px;
				background: url('../img/icon-phone.png') left 60px center no-repeat #0081dc;
				background-size: auto 40px;
			}
			.desc {
				margin-top: 20px;
				font-size: 24px;
			}
		}
		.g-ft {
			width: 100%;
			margin-top: 40px;
			padding: 28px 0;
			@include tp-1px(#eee);
			text-align: center;
			font-size: 27px;
			.m-copyright {
				margin-top: 20px;
			}
		}
		.g-ft-pc {
			display: none;
		}
	}
}

// pc端 css
@media screen and (min-width:769px) {
	@import './pc/index.scss';
	body.ignore {
		width: 100%;
		background: #f3f3f3;
		.g-hd {
			width: 100%;
			height: 46px;
			.link {
				display: block;
				width: 1200px;
				height: 46px;
				margin: 0 auto;
				background: url('../img/icon-logo-pc.png') left center no-repeat;
			}
		}
		.g-banner {
			width: 100%;
			height: 602px;
			background: url('../img/icon-banner-pc.png') center center no-repeat;
			background-size: cover;
		}
		.g-bd {
			width: 1200px;
			margin: 0 auto;
			padding: 40px 20px 0;
			border: 1px solid #dddddd;
			border-top: none;
			background: #ffffff;
			box-sizing: border-box;
			.title {
				width: 100%;
				height: 45px;
				line-height: 45px;
				font-size: 18px;
				color: #2481c5;
				border-bottom: 1px solid #2481c5;
			}
			.list-wrap {
				margin-top: 30px;
				width: 100%;
				.list {
					float: left;
					width: 180px;
					margin-left: 64px;
					margin-bottom: 40px;
					&:nth-child(5n+1) {
						margin-left: 0
					}
					.avatar-wrap {
						width: 180px;
						font-size: 0;
						.avatar {
							width: 180px;
							height: 267px;
						}
					}
					.text-wrap {
						margin-top: 12px;
						font-size: 16px;
						text-align: center;
						.link {
							margin-top: 6px;
							display: inline-block;
							padding: 4px 14px;
							border-radius: 6px;
							color: #ffffff;
							background: #2481c5;
							.icon {
								vertical-align: middle;
								display: inline-block;
								width: 26px;
								height: 21px;
								background: url('../img/icon-toupiao.png') center center no-repeat;
								background-size: cover;
							}
							.text {
								vertical-align: middle;
								font-size: 15px;
							}
						}
					}
				}
			}
		}
		.g-download,
		.g-ft {
			display: none;
		}
		.g-ft-pc {
			width: 100%;
			margin-top: 50px;
			height: 115px;
			text-align: center;
			font-size: 13px;
			color: #666;
			overflow: hidden;
			background: #f5f5f5;
			.para {
				line-height: 2;
				&:first-child {
					margin-top: 30px;
				}
			}
		}
	}
}