@media screen and (max-width:768px) {
	@import './wap/index.scss';
	body {
		width: 750px;
		margin: 0 auto;
		.g-hd {
			position: relative;
			width: 100%;
			height: 80px;
			background: url('../img/icon-logo.png') center center no-repeat;
			background-size: auto 60px;
			.icon-back {
				position: absolute;
				top: 20px;
				display: inline-block;
				width: 80px;
				height: 40px;
				background: url('../img/icon-back.png') center center no-repeat;
				background-size: contain;
				box-sizing: border-box
			}
		}
		.g-userInfo {
			width: 100%;
			padding: 40px;
			box-sizing: border-box;
			.avatar-wrap {
				width: 100%;
				text-align: center;
				font-size: 0;
				.avatar {
					width: 132px;
					height: 132px;
					border-radius: 50%;
				}
			}
			.m-list {
				margin-top: 40px;
				.title {
					font-size: 30px;
					@include bt-1px(#ccc);
				}
				.m-tab {
					width: 100%;
					height: 100px;
					display: flex;
					align-items: center;
					justify-content: space-around; // @include bt-1px(#ccc);
					.btn {
						display: inline-block;
						width: 250px;
						height: 60px;
						outline: none;
						border: none;
						border-radius: 60px;
						font-size: 28px;
						color: #fff;
						background: #e60811;
						&.z-crt {
							color: orange;
						}
					}
				}
				.list-wrap {
					width: 100%;
					.list {
						display: flex;
						align-items: center;
						justify-content: space-around;
						padding: 16px 0;
						@include bt-1px(#e5e5e5);
						.song-info {
							flex: 1;
							.song-name {
								font-size: 30px;
								color: #333;
							}
							.song-created-at {
								font-size: 28px;
								color: #666;
							}
						}
						.icon-play {
							flex: 0 0 100px;
							display: inline-block;
							width: 80px;
							height: 80px;
							background: url('../img/icon-play.png') center center no-repeat;
							background-size: contain;
							&.z-crt {
								background: url('../img/icon-pause.png') center center no-repeat;
								background-size: contain;
							}
						}
					}
				}
			}
		}
		.g-form {
			width: 100%;
			padding: 40px;
			box-sizing: border-box;
			.para {
				width: 100%;
				margin-bottom: 40px;
				text-align: center;
				.order {
					font-size: 28px;
					.red {
						font-size: 24px;
						color: #e60811;
					}
				}
				.wrap {
					width: 100%;
					margin-top: 30px;
					overflow: hidden;
					.talk_btn {
						display: inline-block;
						margin-top: 20px;
						padding: 18px 20px;
						color: #fff;
						border-radius: 8px;
						background: #44b549;
						&:active {
							background: #e60811;
						}
					}
				}
				&:first-child {
					.wrap {
						.label {
							color: #e60811;
						}
					}
				}
			}
		}
		.g-download {
			width: 100%;
			margin-top: 40px;
			text-align: center;
			.down {
				display: inline-block;
				padding: 20px 60px 20px 100px;
				font-size: 28px;
				color: #fff;
				border-radius: 100px;
				background: url('../img/icon-phone.png') left 60px center no-repeat #0081dc;
				background-size: auto 40px;
			}
			.desc {
				margin-top: 20px;
				font-size: 24px;
			}
		}
		.g-ft {
			width: 100%;
			margin-top: 40px;
			padding: 28px 0;
			@include tp-1px(#eee);
			text-align: center;
			font-size: 27px;
			.m-copyright {
				margin-top: 20px;
			}
		}
	}
}