<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        var weChat = {
            getQueryString: function (name) {
                var url = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var newUrl = window.location.search.substr(1).match(url);
                if (newUrl != null) {
                    return unescape(newUrl[2]);
                } else {
                    return false;
                }
            },
            redirectUrl: function () {
                return weChatConf.baseUrl + "appid=" + weChatConf.appId + "&redirect_uri=" +
                    encodeURIComponent(weChatConf.redirect_uri) + "&response_type=" +
                    weChatConf.response_type + "&scope=" + weChatConf.scope + "&state=" +
                    weChatConf.state + weChatConf.weChat_Redirect
            },
            getOpenId: function (code) {

            },
            getStorage: function (name) {
                return localStorage.getItem(name)
            },
            setStorage: function (name, value) {
                return localStorage.setItem(name, value)
            }
        }
        var weChatConf = {
            baseUrl: "https://open.weixin.qq.com/connect/oauth2/authorize?",
            appId: 'wx5f789dea59c6c2c5',
            redirect_uri: 'https://a.weixin.hndt.com/h5/partysday/songlist/index.html',
            response_type: 'code',
            scope: 'snsapi_userinfo', //snsapi_base 只获取openId ， snsapi_userinfo 获取用户信息
            state: Date.parse(new Date()),
            weChat_Redirect: '#wechat_redirect'
        }
        if (!weChat.getQueryString('code')) {
            // window.location = weChat.redirectUrl()
        }
    </script>
    <script src="//g.alicdn.com/fdilab/lib3rd/viewport-units-buggyfill/0.6.2/??viewport-units-buggyfill.hacks.min.js,viewport-units-buggyfill.min.js"></script>
    <script>
        window.onload = function () {
            window.viewportUnitsBuggyfill.init({
                hacks: window.viewportUnitsBuggyfillHacks
            });
        }
    </script>
    <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <title>给党唱支生日歌--庆祝中国共产党建党97周年</title>
</head>

<body class="ignore">
    <div class="g-hd">
        <span class="icon-back" id="back"></span>
    </div>

    <div aspectratio w-16-9 class="img">
        <img aspectratio-content src="./img/banner.png" alt="">
    </div>

    <div class="g-userInfo" id="app">
        <audio style="display:none" id="audio" loop></audio>
        <div class="avatar-wrap">
            <img v-if="userInfo.headimgurl" :src="userInfo.headimgurl" alt="" class="avatar">
        </div>
        <div class="m-list">
            <h3 class="title">{{userInfo.nickname}}的歌曲库</h3>
            <div class="m-tab">
                <button class="btn" :class=" tabIndex == 1?'z-crt':''" @click="tabSwitch(1)">审核过的</button>
                <button class="btn" :class=" tabIndex == 0?'z-crt':''" @click="tabSwitch(0)">未审核的</button>
            </div>
            <ul class="list-wrap">
                <li v-if="showSongList" class="list" v-for="(item,index) of showSongList">
                    <div class="song-info">
                        <div class="song-name">歌名：{{item.name}}</div>
                        <div class="song-created-at">上传时间：{{item.createTime}}</div>
                    </div>
                    <span class="icon-play" :class=" playIndex == index?'z-crt':''" @click="playSong(item.path,index)"></span>
                </li>
            </ul>
        </div>
    </div>



    <div class="g-download">
        <a href="http://www.hndt.com/app/download/index.html" class="down">下载河南广播APP</a>
        <p class="desc">关注身边发生的事 河南人自己的APP</p>
    </div>
    <div class="g-ft">
        <div class="m-version">
            <a href="http://www.hndt.com/index.mb.html">触摸版</a> |
            <a href="http://www.hndt.com">电脑版</a> |
            <a href="http://www.hndt.com/index.mb.html">APP版</a>
        </div>
        <div class="m-copyright">
            手机河南广播网 ICP：豫ICP备14003020号
        </div>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="./js/app.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?8d8b13e4dff379c880b2436c9ae60cc8";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>

</html>